# Node.js dependencies
node_modules/

# Build output (если проект использует сборку)
dist/
build/

# Лог-файлы
*.log

# Файлы IDE
.vscode/
.idea/

# Системные файлы
.DS_Store          # Для macOS
Thumbs.db          # Для Windows

# Файлы окружения
.env

# Временные файлы
*.tmp
